doctype html
html
  head
    title HBCalls - Video calls to anybody in the world with a private direct connection
    meta(charset="utf-8")
    meta(name="description" content="Make video calls to anybody in the world with a private connection. Share the conversation by sharing url.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="apple-touch-icon" href=baseUrl + "res/icon.png")
    link(rel="icon" sizes="256x256" href=baseUrl + "res/icon.png")
    link(rel="stylesheet" type="text/css" href=baseUrl + "/static/style.css")

  body


    #container

      form#form(method="get" action=baseUrl + "/call")
        a(href="https://www.healthbrain.co/" target="_blank")
          h1
            img(src="https://www.healthbrain.co/img/logo.png" width="100%" alt="Peer Calls")
        p Group peer-to-peer calls for everyone. Create a room. Share the link.
        input(type="submit" value="New Link" style="background-color:#5cb85c;color:white;")
      form#form(method="get" action=baseUrl + "/wait")
        p Talk to someone interested in talking
        input(type="submit" value="Talk to someone" style="background-color:#5cb85c;color:white;")

    footer
